<a href="https://colab.research.google.com/github/mukulsingh94868/ML-project/blob/supervisedML/DataFrame3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# from python dictionary

In [9]:
whether_data = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature ': ['32','35','28'],
    'windspeed' : [6,7,2],
    'event' : ['rain','sunny','snow']
}
df = pd.DataFrame(whether_data)
df

        day temperature   windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow