<a href="https://colab.research.google.com/github/mukulsingh94868/ML-project/blob/supervisedML/DataFrames4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# from list of tuples

In [3]:
whether_data = {
    ('1/1/2017',32,6,'rain'),
    ('1/2/2017',35,7,'sunny'),
    ('1/3/2017',28,2,'snow')
}
df = pd.DataFrame(whether_data)
df

          0   1  2      3
0  1/3/2017  28  2   snow
1  1/2/2017  35  7  sunny
2  1/1/2017  32  6   rain