<a href="https://colab.research.google.com/github/mukulsingh94868/ML-project/blob/supervisedML/DataFrames1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# using list

In [0]:
list=[1,2,3,'shyam']
list1=[4,5,6,'ram']
df=pd.DataFrame([list,list1],columns=['age','marks','value','marks'])

In [10]:
df

   age marks  value  marks
0    1     2      3  shyam
1    4     5      6    ram

In [0]:
l1=[2,3]
l2=[5,6]
df=pd.DataFrame([l1,l2])

In [8]:
df

   0  1
0  2  3
1  5  6